* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzICJp9aBgeKtQ6MwGDLNJs9PXA2r0xav6wA&usqp=CAU);
    background-size: 100% 100%;
    color: royalblue;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    text-align: right;
    flex-wrap: wrap;
    background-color: slategray;
    font-weight: bolder;
    height: 50px;
    border-bottom: 1px solid midnightblue;
    position: absolute;
    width: 100%;
    top: 0px;
  }

    nav> ul> li {
    list-style: none;
    justify-content: space-between;
    float: right;
  }

    nav> ul> li> a {
    padding: 15px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color:midnightblue;
  }

    nav> ul> li> a:hover {
    background-color: grey;
  }
  
  main {
    display: flex;
  }
  
  aside {
    padding: 20px;
    flex-wrap: wrap;
    text-align: right;
    font-size: 28px;
    flex: 25%;
    margin-top: 55px;
  }

  main> section {
    background: inherit;
    margin-top: 90px;
  }
  /* Formatting the left hand side of page */
  .AboutMe {
    border-right: 2px solid midnightblue;
    height: 385px;
    background: inherit;
  }

  .Work {
    margin-top: 20px;
    border-right: 2px solid midnightblue;
    height: 1240px;
    background: inherit;
  }
  .Contact {
    margin-top: 20px;
    border-right: 2px solid midnightblue;
    height: 175px;
    background: inherit;
  }
  /* Formatting my Phone #, Email, And LinkedIn */
  .ContactInfo {
    margin-top: 55px;
    text-align: left;
    width: 105%;
    padding: 20px;
    height: 100px;
    justify-content: space-between;
  }
  .ContactInfo> ul {
    list-style: none;
  }
  .ContactInfo> ul> li {
    display: inline-block;
    padding: 15px;
    text-underline-offset: 3px;
    text-decoration: underline solid midnightblue 3px;
    color:midnightblue;
  }

  section {
    flex: 75%;
    padding: 20px;
  }
/* Formatting of the boxes for showcasing my Projects */
  .Project1 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 350px;
    background-image: url('./images//Sportsbox.png');
    background-size: 50% 100%;
    opacity: 75%;
  }

  .Project2 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 350px;
    background-image: url('./images/Note\ Taker.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 75%;
  }
  .linkToProject {
    width: 100%;
  }
  .BoxRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
/* Formats the title of each project */
  .ProjectTitle {
    padding: 7px;
    font-weight: bolder;
    font-size: 14px;
    text-align: left;
    color:midnightblue;
    max-width: fit-content;
    border-right: 3px solid  midnightblue;
    border-bottom: 3px solid  midnightblue;
    z-index: 1;
    background-color: skyblue;
    }

  .ProjectTitle h2 {
    font-weight: lighter;
    font-size: 10px;
    flex-shrink: 50%;
  }
  .Project3 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 350px;
    overflow: auto;
    background-image: url('./images/Tech-Blog-Screenshot.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 75%
    }
  .Project4 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 225px;
    overflow: auto;
    background-image: url(https://lh3.googleusercontent.com/rJq85TBq35m7FIl8G7UOsv81ZNG57vB2nsAJJCV_Fu4fyVHd3eNd-opE-EGXQHQxh8pPDeADO5noUzxgTGBDkXyXYw=w640-h400-e365-rj-sc0x00ffffff);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 75%;
  }
  .Project5 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 225px;
    overflow: auto;
    background-image: url(https://www.technobuffalo.com/sites/technobuffalo.com/files/field/image/2020/01/helect-standard-fuction-desktop-calculator-render.jpg?itok=XESP6Efo);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 75%;
  }
  .Project6 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 225px;
    overflow: auto;
    opacity: 50%;
  }
  .Project7 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 175px;
    overflow: auto;
    opacity: 50%;
  }
  .Project8 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 175px;
    overflow: auto;
    opacity: 50%;
  }
  .Project9 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 175px;
    overflow: auto;
    opacity: 50%;
  }
  .Project10 {
    background-color: skyblue;
    width: 100%;
    padding: 0px;
    border: 3px solid midnightblue;
    height: 175px;
    overflow: auto;
    opacity: 50%;
  }
  .Projects {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    height: auto;
    flex-wrap: wrap;
    flex-direction:column;
    overflow: auto;
    background: inherit;
  }
  /* Changes the opacity upon hovering the mouse over the project */
  .Project1:hover {
    opacity: 100%;
  }
  .Project2:hover {
    opacity: 100%;
  }
  .Project3:hover {
    opacity: 100%;
  }
  .Project4:hover {
    opacity: 100%;
  }
  .Project5:hover {
    opacity: 100%;
  }
  /* Formatting my Picture and About Me paragraph */
  #Name {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  bottom: 0px;
  display: block;
  background-color: midnightblue;
  font-weight: bold;
  color: white;
  padding: 3 px;
  }

  #About {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  flex-wrap: wrap;
  padding: 0px;
  height: 385px;
  }

  #ProfilePic {
    width: 270px;
    border: 3px solid midnightblue;
    max-width: 275px; 
    height: 330px;
    overflow: hidden;
    flex-wrap: wrap;
    float: right;
    margin-left: 5px;
    resize: none;
    margin-bottom: 5px;
  }
/* Force-formatting when webpage size reaches a certain width */
  @media screen and (max-width: 815px) {
  aside {
    font-size: 16px;
  }
    .Project1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #ProfilePic {
    float:left;
  }
  #About> p {
    float: left;
  }
  #About {
    height: 435px;
    margin-bottom: 50px;
  }
  .AboutMe {
    height: 645px;
  }
  .Contact {
    margin-top: 15px;
  }
  .ContactInfo {
    float: left;
    margin-left: -75px;
    position: absolute;
  }
  .Work {
    height: 2575px;
  }
  .BoxRow {
    flex-direction: column;
    height: 700px;
  }
  .BoxRow> section {
    width: 100%;
  }
}
